footer {
  .head-of-foot {
    @include disp(space-between);
    padding: 40px 0;
    border-bottom: 1px solid $grey;
    .search {
      position: relative;
      width: 50%;
      margin: 0 20px;
      input {
        border: 1px solid $grey;
        border-radius: 20px;
        background-color: $gray;
        width: 100%;
        padding: 10px 40px 10px 20px;
      }
      .fa-solid {
        position: absolute;
        right: 5px;
        top: 5px;
        color: $dark;
        opacity: 0.8;
        font-size: 25px;
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 30px;
      .search {
        width: 100%;
      }
    }
  }
  .footer {
    @include disp(space-between);
    gap: 50px;
    .left {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px 0;
      p {
        color: $dark;
        font-family: $font;
        font-size: 15px;
        line-height: 20px;
      }
      .links {
        a {
          color: $dark;
          font-family: $font;
          padding-left: 5px;
        }
      }
      button {
        width: fit-content;
        padding: 10px 20px;
        border-radius: 6px;
        @extend %button-hover;
      }
    }
    .right {
      width: 100%;
      @include disp(space-between, start);
      gap: 30px;
      .links-of-foot {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: $font;
        label {
          font-weight: 600;
          color: $black;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          li {
            a {
              color: $dark;
              font-family: $font;
              transition: 0.3s;
              &:hover {
                color: $grey;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      .left {
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        }
      }
      .right {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        .links-of-foot {
          display: flex;
          align-items: center;

          ul {
            display: flex;
            align-items: center;
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .foot-of-foot {
    @include disp(space-between);
    font-family: $font;
    color: $grey;
    padding: 20px 0;

    .icons {
      color: $dark;
      @include disp();
      gap: 10px;
      i {
        @extend %underline;
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
      padding: 30px 0;
    }
  }
}
